
.ipynb_checkpoints/Cleaning Data-checkpoint.ipynb
Data_Analytics Client Brief.pdf
Internal stakeholder chart.pdf
Data model.pdf
Task 3.txt
Task 3_Final Content Data set.csv
Data Analytics template - Task 3_final.pdf
Data Analytics template - Task 3_final.pptx
